<h2 class="ui dividing header" id="section-database">Database</h2>
<section>
    <h3 class="ui header">Instructions:</h3>
    <p>Choose the Database you want to use.</p>
    <div class="ui piled segment">
        <div class="ui top attached black label">Details</div>
        <div class="field">
            <div class="two fluid ui buttons">

                {% set default_database = '' %}

                {% for key,database in config.databases %}
                    {% if database.checked is defined %}
                        {% set default_database = key %}
                        <div class="ui green active button database checked" data-value="{{ key }}">{{ database.name }}</div>
                    {% else %}
                        <div class="ui black button database" data-value="{{ key }}">{{ database.name }}</div>
                    {% endif %}
                {% endfor %}

                <input type="hidden" id="dbserver" name="dbserver" value="{{ default_database }}" />
            </div>
        </div>

        <div class="three fields">
            <div class="field">
                <label for="database">Database:</label>
                <div class="ui disabled left labeled input">
                    <input type="text" name="database" value="db" />
                </div>
            </div>

            <div class="field">
                <label for="user">User:</label>
                <div class="ui left labeled input">
                    <input type="text" name="user" value="user" />
                </div>
            </div>

            <div class="field">
                <label for="database">Password:</label>
                <div class="ui left labeled input">
                    <input type="text" name="password" value="password" />
                </div>
            </div>
        </div>
    </div>
</section>
