{% set active='home' %}

{% extends "main.html.twig" %}

{% block content %}
        <form class="ui form" method="POST" action="/generate">
            <h2 class="ui dividing header">Vagrant - VM Settings</h2>
            <section>
                <h3 class="ui header">Instructions:</h3>
                <p>Choose the options for your Virtual Machine.</p>
                <div class="ui piled segment">
                    <div class="ui top attached black label">Details</div>
                    <div class="field">
                        <label>Operating System:</label>
                        <div class="grouped inline fields">
                            {% for key,info in config.boxes %}
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" id="baseBox" name="baseBox" value="{{ key }}" {% if key=='precise64' %}checked{% endif %} />
                                    <label for="os_ubuntu">{{ info.name }}</label>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label for="name">Name:</label>
                            <div class="ui left labeled input">
                                <input type="text" id="vmname" name="vmname" placeholder="Default" value="Default" />
                                <div class="ui corner label">
                                    <i class="icon asterisk"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label for="ip_address">IP Address:</label>
                            <div class="ui left labeled input">
                                <input type="text" id="ipaddress" name="ipaddress" value="192.168.33.99" />
                                <div class="ui corner label">
                                    <i class="icon asterisk"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label for="memory">Memory</label>
                            <div class="ui left labeled input">
                                <input type="text" id="memory" name="memory" placeholder="512" value="512" />
                                <div class="ui corner label">
                                    <i class="icon asterisk"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label for="memory">Shared Folder</label>
                            <div class="ui left labeled input">
                                <input type="text" id="sharedfolder" name="sharedfolder" placeholder="./" value="./" />
                                <div class="ui corner label">
                                    <i class="icon asterisk"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <h2 class="ui dividing header">Webserver</h2>
            <section>
                <h3 class="ui header">Instructions:</h3>
                <p>Choose the Web Server you want to use.</p>
                <div class="ui piled segment">
                    <div class="ui top attached black label">Details</div>
                    <div class="field">
                        <div class="three fluid ui buttons">
                            {% set default_webserver = '' %}
                            {% for key,webserver in config.webservers %}
                            {% if webserver.checked is defined %}
                            {% set default_webserver = key %}
                            <div class="ui green active button webserver checked" data-value="{{ key }}">{{ webserver.name }}</div>
                            {% else %}
                            <div class="ui black button webserver" data-value="{{ key }}">{{ webserver.name }}</div>
                            {% endif %}
                            {% endfor %}
                            <input type="hidden" id="webserver" name="webserver" value="{{ default_webserver }}" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="docroot">Document Root:</label>
                        <div class="ui left labeled input">
                            <input type="text" id="docroot" name="docroot" value="/vagrant" />
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <h2 class="ui dividing header">PHP</h2>
            <section>
                <h3 class="ui header">Instructions:</h3>
                <p>Choose the PHP version, type the PHP modules you want (e.g. php5-curl) and select whether or not to install Composer system-wide.</p>
                <div class="ui piled segment">
                    <div class="ui top attached black label">Details</div>
                    <div class="three fields">
                        <div class="field">
                            <label for="php_version">Version:</label>
                            <div class="three fluid ui buttons">
                                <input type="hidden" id="php_version" name="phpppa" value="php5" />
                                <div class="ui green active button phpversion" data-value="php5">5.5</div>
                                <div class="ui black button phpversion" data-value="php5-oldstable">5.4</div>
                                <div class="ui black button phpversion" data-value="php5-5.6">5.6 (Beta)</div>
                            </div>
                        </div>
                        <div class="field">
                            <label for="composer">Composer:</label>
                            <input type="hidden" id="composer" name="composer" value="0" />
                            <div class="ui fluid toggle black button composer">Disabled</div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="phppackages">PHP Modules:</label>
                        <select id="phppackages" name="phppackages[]" class="selectized" multiple>
                        {% for package in config.phppackages %}
                            <option value="{{ package }}">{{ package }}</option>
                         {% endfor %}
                        </select>
                    </div>
                </div>
            </section>

            <h2 class="ui dividing header">Other Packages</h2>
            <section>
                <h3 class="ui header">Instructions:</h3>
                <p>Type the name of the package and choose from the list.</p>
                <div class="ui piled segment">
                    <div class="ui top attached black label">Details</div>
                    <div class="field">
                        <label for="syspackages">Packages:</label>
                        <select id="syspackages" name="syspackages[]" class="selectized" multiple>
                        {% for package in config.syspackages %}
                            <option value="{{ package }}">{{ package }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </section>

            <section>
                <button class="ui fluid labeled purple icon button" type="submit"><i class="download cloud icon"></i> Generate</button>
            </section>
        </form>
{% endblock %}
