<!DOCTYPE html>
<html>
<head>
    {% include "partials/head.html.twig" %}
</head>
<body id="phansible">
<a href="https://github.com/Phansible/phansible"><img id="forkme"
                                                      src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
                                                      alt="Fork me on GitHub"
                                                      data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
<div class="ui fixed transparent inverted main menu">
    <div class="container">
        <a href="{{ path('phansible_default') }}">
            <div class="title item">Home</div>
        </a>
        <a href="{{ path('phansible_about') }}">
            <div class="title item">About</div>
        </a>
        <div class="ui dropdown item">
            Documentation <i class="icon dropdown"></i>
            <div class="menu">
                <a class="item" href="{{ path('phansible_docs', {'doc': 'usage'}) }}">Usage Instructions</a>
                <a class="item" href="{{ path('phansible_docs', {'doc': 'customize'}) }}">Customizing your Bundle</a>
                <a class="item" href="{{ path('phansible_docs', {'doc': 'vagrant'}) }}">Vagrant crash-course</a>
                <a class="item" href="{{ path('phansible_docs', {'doc': 'contributing'}) }}">Contributing</a>
            </div>
        </div>
    </div>
</div>

<header>
    <div class="container">
        <div class="introduction">
            <img class="logo img-responsive" src="/assets/images/phansible-logo-white.png" alt="phansible"
                 title="phansible">
            <p>Phansible provides an easy-to-use interface that helps you generate Ansible provisionings for PHP-based
                projects.</p>
        </div>
    </div>
</header>

<div class="main container">
    {% block content %}{% endblock %}
</div>

{% include "partials/footer.html.twig" %}

{% include "partials/javascripts.html.twig" %}

</body>
</html>
